# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.sqlite
*.sqlite3
*.db
*.db-shm
*.db-wal


# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments (Crucial)
venv/
.venv/
env/

# IDEs and Editors
.vscode/
.idea/
*.swp

# Environment variables
.env

# Tests and Logs
.pytest_cache/
.coverage
*.log
